<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>conferences</key>
	<array>
		<dict>
			<key>annotation</key>
			<string>Uppsala</string>
			<key>name</key>
			<string>Strings 2011</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist2011.plist</string>
		</dict>
		<dict>
			<key>annotation</key>
			<string>Texas A&amp;M</string>
			<key>name</key>
			<string>Strings 2010</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist2010.plist</string>
		</dict>
		<dict>
			<key>annotation</key>
			<string>Rome</string>
			<key>name</key>
			<string>Strings 2009</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist2009.plist</string>
		</dict>
		<dict>
			<key>annotation</key>
			<string>CERN</string>
			<key>name</key>
			<string>Strings 2008</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist2008.plist</string>
		</dict>
		<dict>
			<key>annotation</key>
			<string>Madrid</string>
			<key>name</key>
			<string>Strings 2007</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist2007.plist</string>
		</dict>
		<dict>
			<key>annotation</key>
			<string>Beijing</string>
			<key>name</key>
			<string>Strings 2006</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist2006.plist</string>
		</dict>
		<dict>
			<key>annotation</key>
			<string>Toronto</string>
			<key>name</key>
			<string>Strings 2005</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist2005.plist</string>
		</dict>
		<dict>
			<key>annotation</key>
			<string>Paris</string>
			<key>name</key>
			<string>Strings 2004</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist2004.plist</string>
		</dict>
		<dict>
			<key>annotation</key>
			<string>Kyoto</string>
			<key>name</key>
			<string>Strings 2003</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist2003.plist</string>
		</dict>
		<dict>
			<key>annotation</key>
			<string>Cambridge</string>
			<key>name</key>
			<string>Strings 2002</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist2002.plist</string>
		</dict>
		<dict>
			<key>annotation</key>
			<string>Mumbai</string>
			<key>name</key>
			<string>Strings 2001</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist2001.plist</string>
		</dict>
		<dict>
			<key>annotation</key>
			<string>Michigan</string>
			<key>name</key>
			<string>Strings 2000</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist2000.plist</string>
		</dict>
		<dict>
			<key>annotation</key>
			<string>Potsdam</string>
			<key>name</key>
			<string>Strings 1999</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist1999.plist</string>
		</dict>
		<dict>
			<key>annotation</key>
			<string>Santa Barbara</string>
			<key>name</key>
			<string>Strings 1998</string>
			<key>target</key>
			<string>http://member.ipmu.jp/yuji.tachikawa/stringsmirrors/ylist1998.plist</string>
		</dict>
	</array>
</dict>
</plist>
